.csl {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.csl img {
  width: 100%;
  display: block;
}

.csl .content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.csl .fullImg {
  margin: auto;
}
.csl .swiper {
  width: 100%;
}
.csl .bg {
  width: 100%;
  display: block;
  position: relative;
}
.csl .bg img {
  width: 100%;
  display: block;
}
.csl .absolute {
  position: absolute;
}
.csl .swiperScale .swiper-slide {
  overflow: hidden;
}
.csl .swiperScale .swiper-slide img {
  animation: swiperScale 20s infinite alternate;
}
@keyframes swiperScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.device-mob {
  max-width: 780px;
}
.device-mob .csl-pc {
  display: none !important;
}
.device-pc .csl-mob {
  display: none !important;
}
.csl .csl-scroll {
  opacity: 0;
  transition: all 0.85s;
  transition-delay: 0.3s;
}
.csl .csl-scroll-left {
  opacity: 0;
  transition: all 0.85s;
  transition-delay: 0.3s;
  transform: translateX(15px);
}
.csl .csl-scroll-right {
  opacity: 0;
  transition: all 0.85s;
  transition-delay: 0.3s;
  transform: translateX(-15px);
}
.csl .csl-scroll-up {
  opacity: 0;
  transition: all 0.85s;
  transition-delay: 0.3s;
  transform: translateY(15px);
}
.csl .csl-scroll-down {
  opacity: 0;
  transition: all 0.85s;
  transition-delay: 0.3s;
  transform: translateY(-15px);
}
.csl .csl-scroll-balloon[class*='csl-scroll'] {
  opacity: 0;
  transform: scale(0.8);
  transform-origin: bottom center;
  transition: all 0.65s;
  transition-timing-function: cubic-bezier(0.45, 0.87, 0.75, 1.18);
  transition-delay: 0.3s;
}
.csl .csl-scroll-balloon-left[class*='csl-scroll'] {
  opacity: 0;
  transform: scale(0.8);
  transform-origin: 90% 100%;
  transition: all 0.65s;
  transition-timing-function: cubic-bezier(0.45, 0.87, 0.75, 1.18);
  transition-delay: 0.3s;
}
.csl .csl-scroll-balloon-right[class*='csl-scroll'] {
  opacity: 0;
  transform: scale(0.8);
  transform-origin: 10% 100%;
  transition: all 0.65s;
  transition-timing-function: cubic-bezier(0.45, 0.87, 0.75, 1.18);
  transition-delay: 0.3s;
}

.csl .csl-scroll-start {
  transition: none;
  opacity: 0;
}
.csl .csl-scroll-start.csl-scroll-on {
  transition: all 0.85s;
  opacity: 1;
}
.csl .csl-scroll-start.csl-scroll-right {
  transform: translateX(-15px);
}
.csl .csl-scroll-start.csl-scroll-up {
  transform: translateY(15px);
}
.csl .csl-scroll-start.csl-scroll-left {
  transform: translateX(15px);
}
.csl .csl-scroll-start.csl-scroll-down {
  transform: translateY(-15px);
}

.csl .csl-scroll-on {
  opacity: 1 !important;
  transform: none !important;
}

.csl .csl-dropdown {
  width: 100%;
  max-width: 860px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.csl .csl-dropdown .csl-dropdown-button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.csl .csl-dropdown .csl-dropdown-list {
  min-width: 540px;
}

@media screen and (max-width: 560px) {
  .csl .csl-dropdown .csl-dropdown-list {
    min-width: 0px;
  }
}
.csl .csl-dropdown .csl-dropdown-button p {
  padding-right: 6px;
  font-size: 18px;
  color: black;
  font-family: 'Pretendard', -apple-system, 'Apple SD Gothic Neo';
}

.csl .csl-dropdown .csl-dropdown-button .csl-dropdown-arrow {
  width: 13px;
  transform: translateY(-1px);
  display: block;
}

.csl .csl-dropdown-on .csl-dropdown-button .csl-dropdown-arrow {
  transform: rotate(180deg) translateY(2px);
}

.csl .csl-dropdown .csl-dropdown-button:hover .csl-dropdown-arrow {
  animation: csl-dropdown-arrow 1.2s 3;
}

.csl .csl-dropdown-on .csl-dropdown-button:hover .csl-dropdown-arrow {
  animation: csl-dropdown-arrow2 1.2s 3;
}

@keyframes csl-dropdown-arrow {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }
  to {
    transform: translateY(3px);
    opacity: 1;
  }
}
@keyframes csl-dropdown-arrow2 {
  from {
    transform: rotate(180deg) translateY(0px);
    opacity: 1;
  }
  to {
    transform: rotate(180deg) translateY(8px);
    opacity: 0;
  }
}

.csl .csl-dropdown .csl-dropdown-list {
  display: none;
  opacity: 0;
  padding-top: 20px;
  margin-top: 25px;
  color: rgb(100, 100, 100);
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 1.6;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.csl .csl-dropdown .csl-dropdown-list strong {
  color: black;
  font-size: 14px;
  padding: 30px 0px 5px;
  display: block;
  text-indent: 10px;
  font-family: 'Pretendard', -apple-system, 'Apple SD Gothic Neo';
}

.csl .csl-dropdown .csl-dropdown-list strong:first-child {
  padding-top: 0px;
}

.csl .csl-dropdown-on .csl-dropdown-list {
  display: block !important;
  animation: csl-dropdown-on 1s forwards ease;
}

.csl .csl-dropdown .csl-dropdown-list li {
  position: relative;
  padding-left: 12px;
  font-family: 'Pretendard', -apple-system, 'Apple SD Gothic Neo';
}

.csl .csl-dropdown .csl-dropdown-list li::before {
  position: absolute;
  left: 0px;
  top: 0;
  font-size: 14px;
  color: rgb(100, 100, 100);
  content: '-';
  display: block;
}

@keyframes csl-dropdown-on {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 780px) {
  .csl .csl-dropdown .csl-dropdown-button p {
    padding-right: 4px;
    font-size: 14px;
  }
  .csl .csl-dropdown .csl-dropdown-button .csl-dropdown-arrow {
    width: 10px;
    transform: translateY(-0.5px);
  }
  .csl .csl-dropdown-on .csl-dropdown-button .csl-dropdown-arrow {
    transform: rotate(180deg) translateY(1px);
  }
  .csl .csl-dropdown .csl-dropdown-button:hover .csl-dropdown-arrow {
    animation: none;
  }
  .csl .csl-dropdown .csl-dropdown-list {
    padding-top: 15px;
    margin-top: 20px;
    font-size: 12px;
    width: 100%;
  }
  .csl .csl-dropdown .csl-dropdown-list strong {
    font-size: 14px;
    padding: 15px 0px 3px;
    text-indent: 2px;
  }
}

.csl .csl-swiper-box {
  position: relative;
}

.csl .csl-swiper-box .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.csl .csl-swiper-box .text img {
  width: 100%;
}
.csl .csl-parallax {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.csl .csl-parallax .csl-parallax-bg {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(0);
  transition: transform 0.1s linear;
}
.csl .csl-parallax .csl-parallax-content {
  width: 100%;
  position: relative;
  z-index: 1;
}

.csl .csl-delivery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.csl .csl-delivery .csl-delivery-list {
  width: 100%;
  max-width: 860px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px 10px 0px;
}

.csl .csl-delivery .csl-delivery-list strong {
  font-family: 'Pretendard', -apple-system, 'Apple SD Gothic Neo';
  font-weight: 400;
  color: black;
  font-size: 16px;
  display: inline-block;
  padding-bottom: 5px;
  text-indent: 11px;
}

.csl .csl-delivery .csl-delivery-list li {
  font-family: 'Pretendard', -apple-system, 'Apple SD Gothic Neo';
  color: rgb(100, 100, 100);
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 1.6;
  position: relative;
  padding-left: 11px;
  padding-top: 2px;
}

.csl .csl-delivery .csl-delivery-list li::before {
  position: absolute;
  left: 0px;
  top: 0;
  font-size: 14px;
  color: rgb(100, 100, 100);
  content: '-';
  display: block;
}

@media screen and (max-width: 480px) {
  .csl .csl-delivery {
    padding: 40px 20px;
  }
  .csl .csl-delivery .csl-delivery-list {
    padding: 15px 0px;
  }
  .csl .csl-delivery .csl-delivery-list strong {
    font-size: 14px;
    padding-bottom: 4px;
    text-indent: 8px;
  }
  .csl .csl-delivery .csl-delivery-list li {
    font-size: 12px;
    padding-left: 8px;
  }
  .csl .csl-delivery .csl-delivery-list li::before {
    font-size: 12px;
  }
}
@media screen and (max-width: 340px) {
  .csl .csl-delivery,
  .csl .csl-dropdown {
    padding: 40px 15px;
  }
}

.csl .main-visual-parallax-on-select {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.csl .main-visual-parallax-on-select .bg {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.1s;
}
.csl .main-visual-parallax-on-select .text {
  position: relative;
  z-index: 1;
  width: 100%;
}

.csl .main-visual-parallax-on-select .bg img .csl .main-visual-parallax-on-select .text img {
  width: 100%;
  display: block;
}

.csl .main-visual-parallax-on-select2 {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.csl .main-visual-parallax-on-select2 .bg {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.1s;
}
.csl .main-visual-parallax-on-select2 .text {
  position: relative;
  z-index: 1;
  width: 100%;
}

.csl .main-visual-parallax-on-select2 .bg img .csl .main-visual-parallax-on-select2 .text img {
  width: 100%;
  display: block;
}

.csl-item-title {
  display: block;
  width: 100%;
  max-width: 1920px;
  font-size: 38px;
  margin: 0.67rem auto;
  text-transform: uppercase;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
  font-family: 'Pragmatica', 'Pretendard';
}
@media screen and (max-width: 1500px) {
  .csl-item-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 860px) {
  .csl-item-title {
    font-size: 24px;
  }
}
.csl-item-title img {
  width: 100%;
  display: block;
}
.csl-item-title img:last-child {
  display: none;
}
@media screen and (max-width: 400px) {
  .csl-item-title img:first-child {
    display: none;
  }
  .csl-item-title img:last-child {
    display: block;
  }
}
.csl-fixedCategory::-webkit-scrollbar {
  display: none;
}
.csl-fixedCategory {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
}
.csl-fixedCategoryHeader {
  transform: translateY(1px);
  position: relative;
  z-index: 1;
  display: none;
}
.csl-fixedCategory .csl-fc-wrap::-webkit-scrollbar {
  display: none;
}
.csl-fixedCategory .csl-fc-wrap {
  width: 100%;
  max-width: 1640px;
  margin: auto;
  display: block;
  overflow: scroll;
}
.csl-fixedCategory .csl-fc-wrap .csl-fc-list {
  width: max-content;
  padding: 20px 10px 20px 10px;
}
.csl-fixedCategory .csl-fc-wrap .csl-fc-list p {
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  font-weight: 400;
  font-family: 'Pragmatica', 'Pretendard';
  transition: opacity 0.3s;
  text-transform: uppercase;
  opacity: 0.4;
}
.csl-fixedCategory .csl-fc-wrap .csl-fc-list .csl-fc-active {
  opacity: 1;
}
@media screen and (max-width: 860px) {
  .csl-fixedCategory .csl-fc-wrap .csl-fc-list {
    padding: 12px 10px 12px 10px;
  }
  .csl-fixedCategory .csl-fc-wrap .csl-fc-list p {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .csl-fixedCategory .csl-fc-wrap .csl-fc-list {
    padding: 11px 10px 11px 8px;
  }
  .csl-fixedCategory .csl-fc-wrap .csl-fc-list p {
    font-size: 12px;
    padding: 0 6px;
  }
}
.csl .csl-fixedCategory .csl-fc-wrap .csl-fc-list {
  display: flex;
  width: auto;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1359px) {
  .csl-fixedCategory .csl-fc-wrap .csl-fc-list p:hover {
    opacity: 1;
  }
}
.csl-fixedCategoryHeader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  left: 0;
  top: -1px;
}

.csl .swiper-box-pagination,
.csl .swiper-box-pagination .swiper,
.csl .swiper-box-pagination .swiper .swiper-slide img {
  width: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-box-pagination {
  position: relative;
}
.swiper-box-pagination .swiper-pagination {
  font-family: 'Pragmatica-Extended', 'Pragmatica', 'Pretendard', -apple-system, BlinkMacSystemFont,
    'Apple SD Gothic Neo', 'Apple Color Emoji', sans-serif;
  font-weight: 400;
  line-height: 1.4285;
}
.swiper-box-pagination .swiper-button-prev,
.swiper-box-pagination .swiper-button-next {
  top: auto;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.swiper-box-pagination .swiper-pagination {
  font-size: 24px;
  bottom: 20px;
}
.swiper-box-pagination .swiper-button-prev {
  bottom: 20px;
  left: calc(50% - 80px);
}
.swiper-box-pagination .swiper-button-next {
  bottom: 20px;
  right: calc(50% - 80px);
}
@media screen and (max-width: 600px) {
  .swiper-box-pagination .swiper-pagination {
    font-size: 20px;
    bottom: 20px;
  }
  .swiper-box-pagination .swiper-button-prev {
    bottom: 20px;
    left: calc(50% - 70px);
  }
  .swiper-box-pagination .swiper-button-next {
    bottom: 20px;
    right: calc(50% - 70px);
  }
}
@media screen and (max-width: 500px) {
  .swiper-box-pagination .swiper-pagination {
    font-size: 16px;
    bottom: 20px;
  }
  .swiper-box-pagination .swiper-button-prev {
    bottom: 20px;
    left: calc(50% - 60px);
  }
  .swiper-box-pagination .swiper-button-next {
    bottom: 20px;
    right: calc(50% - 60px);
  }
}
@media screen and (max-width: 400px) {
  .swiper-box-pagination .swiper-pagination {
    font-size: 12px;
    bottom: 20px;
  }
  .swiper-box-pagination .swiper-button-prev {
    bottom: 20px;
    left: calc(50% - 50px);
  }
  .swiper-box-pagination .swiper-button-next {
    bottom: 20px;
    right: calc(50% - 50px);
  }
}
@media screen and (max-width: 350px) {
  .swiper-box-pagination .swiper-pagination {
    font-size: 11px;
    bottom: 20px;
  }
  .swiper-box-pagination .swiper-button-prev {
    bottom: 20px;
    left: calc(50% - 50px);
  }
  .swiper-box-pagination .swiper-button-next {
    bottom: 20px;
    right: calc(50% - 50px);
  }
}
@media screen and (max-width: 320px) {
  .swiper-box-pagination .swiper-pagination {
    font-size: 10px;
    bottom: 20px;
  }
  .swiper-box-pagination .swiper-button-prev {
    bottom: 20px;
    left: calc(50% - 40px);
  }
  .swiper-box-pagination .swiper-button-next {
    bottom: 20px;
    right: calc(50% - 40px);
  }
}
.csl .swiper-with-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.csl .swiper-with-button .swiper,
.csl .swiper-with-button .swiper img {
  width: 100%;
}

.csl .swiper-with-button .swiper-pagination {
  font-family: 'Pragmatica-Extended', 'Pragmatica', 'Pretendard';
  position: absolute;
  top: 100%;
  font-size: 20px;
  line-height: 1.5;
  cursor: default;
}
.csl .swiper-with-button-right .swiper-pagination {
  text-align: right;
}

.csl .swiper-with-button .swiper-button-prev,
.csl .swiper-with-button .swiper-button-next {
  position: absolute;
  top: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 24px;
  height: 30px;
}
.csl .swiper-with-button .swiper-button-next {
  transform: translateY(-2.1%);
}

.csl .swiper-with-button .swiper-button-prev {
  left: calc(50% - 70px);
}
.csl .swiper-with-button .swiper-button-next {
  right: calc(50% - 70px);
}
.csl .swiper-with-button-right .swiper-button-prev {
  left: auto;
}
.csl .swiper-with-button-right .swiper-pagination {
  padding-right: 100px;
}
.csl .swiper-with-button-right .swiper-button-prev {
  right: 170px;
}
.csl .swiper-with-button-right .swiper-button-next {
  right: 50px;
}

@media screen and (max-width: 600px) {
  .csl .swiper-with-button .swiper-pagination {
    font-size: 18px;
  }
  .csl .swiper-with-button .swiper-button-prev,
  .csl .swiper-with-button .swiper-button-next {
    width: 22px;
    height: 27px;
  }
  .csl .swiper-with-button .swiper-button-prev {
    left: calc(50% - 70px);
  }
  .csl .swiper-with-button .swiper-button-next {
    right: calc(50% - 70px);
  }
  .csl .swiper-with-button-right .swiper-button-prev {
    left: auto;
  }
  .csl .swiper-with-button-right .swiper-pagination {
    padding-right: 90px;
  }
  .csl .swiper-with-button-right .swiper-button-prev {
    right: 150px;
  }
  .csl .swiper-with-button-right .swiper-button-next {
    right: 45px;
  }
}
@media screen and (max-width: 400px) {
  .csl .swiper-with-button .swiper-pagination {
    font-size: 16px;
  }
  .csl .swiper-with-button .swiper-button-prev,
  .csl .swiper-with-button .swiper-button-next {
    width: 20px;
    height: 24px;
  }
  .csl .swiper-with-button .swiper-button-prev {
    left: calc(50% - 55px);
  }
  .csl .swiper-with-button .swiper-button-next {
    right: calc(50% - 55px);
  }
  .csl .swiper-with-button-right .swiper-button-prev {
    left: auto;
  }
  .csl .swiper-with-button-right .swiper-pagination {
    padding-right: 80px;
  }
  .csl .swiper-with-button-right .swiper-button-prev {
    right: 135px;
  }
  .csl .swiper-with-button-right .swiper-button-next {
    right: 40px;
  }
}
@media screen and (max-width: 340px) {
  .csl .swiper-with-button .swiper-pagination {
    font-size: 14px;
  }
  .csl .swiper-with-button .swiper-button-prev,
  .csl .swiper-with-button .swiper-button-next {
    width: 16px;
    height: 21px;
  }
  .csl .swiper-with-button .swiper-button-prev {
    left: calc(50% - 50px);
  }
  .csl .swiper-with-button .swiper-button-next {
    right: calc(50% - 50px);
  }
  .csl .swiper-with-button-right .swiper-button-prev {
    left: auto;
  }
  .csl .swiper-with-button-right .swiper-pagination {
    padding-right: 65px;
  }
  .csl .swiper-with-button-right .swiper-button-prev {
    right: 110px;
  }
  .csl .swiper-with-button-right .swiper-button-next {
    right: 30px;
  }
}
@media screen and (max-width: 300px) {
  .csl .swiper-with-button .swiper-pagination {
    font-size: 12px;
  }
  .csl .swiper-with-button .swiper-button-prev,
  .csl .swiper-with-button .swiper-button-next {
    width: 13px;
    height: 18px;
  }
  .csl .swiper-with-button .swiper-button-prev {
    left: calc(50% - 40px);
  }
  .csl .swiper-with-button .swiper-button-next {
    right: calc(50% - 40px);
  }
  .csl .swiper-with-button-right .swiper-button-prev {
    left: auto;
  }
  .csl .swiper-with-button-right .swiper-pagination {
    padding-right: 50px;
  }
  .csl .swiper-with-button-right .swiper-button-prev {
    right: 90px;
  }
  .csl .swiper-with-button-right .swiper-button-next {
    right: 20px;
  }
}

.csl .font-pragmatica {
  font-family: 'Pragmatica', 'Pragmatica-Extended', 'Pretendard';
}
.csl .font-pragmatica-extended {
  font-family: 'Pragmatica-Extended', 'Pragmatica', 'Pretendard';
}
.csl .font-pretendard {
  font-family: 'Pretendard', 'Pragmatica-Extended', 'Pragmatica';
}

/* 罹먮윭�� */
.csl .csl-carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.csl .csl-carousel-left img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(100%);
}
.csl .csl-carousel-left img:first-child {
  position: relative;
  transform: translateX(0);
}
.csl .csl-carousel-left img:nth-child(1) {
  animation: csl-carousel-left1 60s infinite linear;
}
.csl .csl-carousel-left img:nth-child(2) {
  animation: csl-carousel-left2 60s infinite linear;
}
.csl .csl-carousel-left img:nth-child(3) {
  animation: csl-carousel-left3 60s infinite linear;
}
.csl .csl-carousel-left img:nth-child(4) {
  animation: csl-carousel-left4 60s infinite linear;
}
@keyframes csl-carousel-left1 {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  25% {
    transform: translateX(-100%);
    opacity: 1;
  }
  30% {
    transform: translateX(-100%);
    opacity: 0;
  }
  35% {
    transform: translateX(100%);
    opacity: 0;
  }
  40% {
    transform: translateX(100%);
    opacity: 1;
  }
  75% {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes csl-carousel-left2 {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  50% {
    transform: translateX(-100%);
    opacity: 1;
  }
  55% {
    transform: translateX(-100%);
    opacity: 0;
  }
  60% {
    transform: translateX(100%);
    opacity: 0;
  }
  65% {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}
@keyframes csl-carousel-left3 {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  25% {
    transform: translateX(100%);
    opacity: 1;
  }
  75% {
    transform: translateX(-100%);
    opacity: 1;
  }
  80% {
    transform: translateX(-100%);
    opacity: 0;
  }
  85% {
    transform: translateX(100%);
    opacity: 0;
  }
  90% {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}
@keyframes csl-carousel-left4 {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}
.csl .csl-carousel-right img {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
}
.csl .csl-carousel-right img:first-child {
  transform: translateX(0);
}
.csl .csl-carousel-right img:nth-child(1) {
  animation: csl-carousel-right1 60s infinite linear;
}
.csl .csl-carousel-right img:nth-child(2) {
  animation: csl-carousel-right2 60s infinite linear;
}
.csl .csl-carousel-right img:nth-child(3) {
  animation: csl-carousel-right3 60s infinite linear;
}
.csl .csl-carousel-right img:nth-child(4) {
  animation: csl-carousel-right4 60s infinite linear;
}
.csl .csl-carousel-right img:nth-child(5) {
  position: relative;
  opacity: 0;
}
@keyframes csl-carousel-right1 {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  25% {
    transform: translateX(100%);
    opacity: 1;
  }
  30% {
    transform: translateX(100%);
    opacity: 0;
  }
  35% {
    transform: translateX(-100%);
    opacity: 0;
  }
  40% {
    transform: translateX(-100%);
    opacity: 1;
  }
  75% {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes csl-carousel-right2 {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 1;
  }
  55% {
    transform: translateX(100%);
    opacity: 0;
  }
  60% {
    transform: translateX(-100%);
    opacity: 0;
  }
  65% {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}
@keyframes csl-carousel-right3 {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  25% {
    transform: translateX(-100%);
    opacity: 1;
  }
  75% {
    transform: translateX(100%);
    opacity: 1;
  }
  80% {
    transform: translateX(100%);
    opacity: 0;
  }
  85% {
    transform: translateX(-100%);
    opacity: 0;
  }
  90% {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}
@keyframes csl-carousel-right4 {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  50% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}
.csl .csl-carousel-up img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
}
.csl .csl-carousel-up img:first-child {
  position: relative;
  transform: translateY(0);
}
.csl .csl-carousel-up img:nth-child(1) {
  animation: csl-carousel-up1 60s infinite linear;
}
.csl .csl-carousel-up img:nth-child(2) {
  animation: csl-carousel-up2 60s infinite linear;
}
.csl .csl-carousel-up img:nth-child(3) {
  animation: csl-carousel-up3 60s infinite linear;
}
.csl .csl-carousel-up img:nth-child(4) {
  animation: csl-carousel-up4 60s infinite linear;
}
@keyframes csl-carousel-up1 {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  25% {
    transform: translateY(-100%);
    opacity: 1;
  }
  30% {
    transform: translateY(-100%);
    opacity: 0;
  }
  35% {
    transform: translateY(100%);
    opacity: 0;
  }
  40% {
    transform: translateY(100%);
    opacity: 1;
  }
  75% {
    transform: translateY(100%);
    opacity: 1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes csl-carousel-up2 {
  from {
    transform: translateY(100%);
    opacity: 1;
  }
  50% {
    transform: translateY(-100%);
    opacity: 1;
  }
  55% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    transform: translateY(100%);
    opacity: 0;
  }
  65% {
    transform: translateY(100%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes csl-carousel-up3 {
  from {
    transform: translateY(100%);
    opacity: 1;
  }
  25% {
    transform: translateY(100%);
    opacity: 1;
  }
  75% {
    transform: translateY(-100%);
    opacity: 1;
  }
  80% {
    transform: translateY(-100%);
    opacity: 0;
  }
  85% {
    transform: translateY(100%);
    opacity: 0;
  }
  90% {
    transform: translateY(100%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes csl-carousel-up4 {
  from {
    transform: translateY(100%);
    opacity: 1;
  }
  50% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}
.csl .csl-carousel-down img {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
}
.csl .csl-carousel-down img:first-child {
  transform: translateY(0);
}
.csl .csl-carousel-down img:nth-child(1) {
  animation: csl-carousel-down1 60s infinite linear;
}
.csl .csl-carousel-down img:nth-child(2) {
  animation: csl-carousel-down2 60s infinite linear;
}
.csl .csl-carousel-down img:nth-child(3) {
  animation: csl-carousel-down3 60s infinite linear;
}
.csl .csl-carousel-down img:nth-child(4) {
  animation: csl-carousel-down4 60s infinite linear;
}
.csl .csl-carousel-down img:nth-child(5) {
  position: relative;
  opacity: 0;
}
@keyframes csl-carousel-down1 {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  25% {
    transform: translateY(100%);
    opacity: 1;
  }
  30% {
    transform: translateY(100%);
    opacity: 0;
  }
  35% {
    transform: translateY(-100%);
    opacity: 0;
  }
  40% {
    transform: translateY(-100%);
    opacity: 1;
  }
  75% {
    transform: translateY(-100%);
    opacity: 1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes csl-carousel-down2 {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }
  50% {
    transform: translateY(100%);
    opacity: 1;
  }
  55% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    transform: translateY(-100%);
    opacity: 0;
  }
  65% {
    transform: translateY(-100%);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 1;
  }
}
@keyframes csl-carousel-down3 {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }
  25% {
    transform: translateY(-100%);
    opacity: 1;
  }
  75% {
    transform: translateY(100%);
    opacity: 1;
  }
  80% {
    transform: translateY(100%);
    opacity: 0;
  }
  85% {
    transform: translateY(-100%);
    opacity: 0;
  }
  90% {
    transform: translateY(-100%);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 1;
  }
}
@keyframes csl-carousel-down4 {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }
  50% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

/* 230330 荑좏룿 由щ돱�� */
.csl .csl-coupon .box {
  cursor: pointer;
  width: 71.667%;
  margin-top: 12%;
  cursor: pointer;
}
.csl .csl-coupon .csl-dropdown {
  width: 90%;
  padding: 40px 0 80px;
}
.csl .csl-coupon .csl-dropdown .csl-dropdown-list {
  width: 71.667%;
}
@media screen and (max-width: 600px) {
  .csl .csl-coupon .csl-dropdown .csl-dropdown-list {
    width: 100%;
    min-width: auto;
  }
}
@media screen and (max-width: 450px) {
  .csl .csl-coupon .csl-dropdown {
    padding: 30px 0 60px;
  }
}
@media screen and (max-width: 400px) {
  .csl .csl-coupon .csl-dropdown {
    padding: 30px 0 50px;
  }
}
@media screen and (max-width: 370px) {
  .csl .csl-coupon .csl-dropdown {
    padding: 30px 0 40px;
  }
}
@media screen and (max-width: 330px) {
  .csl .csl-coupon .csl-dropdown {
    padding: 25px 0 35px;
  }
  .csl .csl-coupon .csl-dropdown .csl-dropdown-button p {
    font-size: 12px;
  }
}

/* 230403 swiper pagination bullet */
.csl .swiper-pager-wrap,
.csl .swiper-pager-wrap .swiper,
.csl .swiper-pager-wrap .swiper img {
  width: 100%;
}
.csl .swiper-pager-wrap .swiper-pagination-bullet {
  background-color: transparent;
  opacity: 1;
}
.csl .swiper-pager-wrap .swiper-pager-bullet {
  bottom: 0;
}
.csl .swiper-pager-wrap .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 5px;
}
@media screen and (max-width: 640px) {
  .csl .swiper-pager-wrap .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    margin: 0 5px;
  }
}
@media screen and (max-width: 580px) {
  .csl .swiper-pager-wrap .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 4px;
  }
}
@media screen and (max-width: 500px) {
  .csl .swiper-pager-wrap .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    margin: 0 4px;
  }
}
@media screen and (max-width: 440px) {
  .csl .swiper-pager-wrap .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 3px;
  }
}
@media screen and (max-width: 400px) {
  .csl .swiper-pager-wrap .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    margin: 0 3px;
  }
}
@media screen and (max-width: 370px) {
  .csl .swiper-pager-wrap .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 3px;
  }
}
@media screen and (max-width: 330px) {
  .csl .swiper-pager-wrap .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 2.5px;
  }
}
@media screen and (max-width: 280px) {
  .csl .swiper-pager-wrap .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 2px;
  }
}

.csl .csl-circle-right {
  animation: csl-circle-right 8s infinite linear;
}

@keyframes csl-circle-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.csl .csl-circle-left {
  animation: csl-circle-left 8s infinite linear;
}

@keyframes csl-circle-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.csl .csl-circle-bounce-right {
  animation: csl-circle-right 3s infinite;
}

.csl .csl-circle-bounce-left {
  animation: csl-circle-left 3s infinite;
}

/* custom swiper */
.csl .swiperWave,
.csl .swiperWave img {
  width: 100%;
}
.csl .swiperWave .swiper-slide {
  overflow: hidden;
}
.csl .swiperWave img {
  display: block;
  transition: all 1.4s;
}
.csl .swiperWave .swiper-slide-prev img {
  transform: translateX(100%);
}
.csl .swiperWave .swiper-slide-next img {
  transition: all 0s;
  transform: translateX(-50%);
}
.csl .swiperWave .swiper-active img {
  transition: all 1.4s;
  transform: translateX(0%);
}

.csl .swiperImgHold .swiper-slide-next img {
  transform: translateX(-100%);
}

.csl-scroll-swiper-wrap {
  width: 100%;
  overflow: hidden;
}
.csl-scroll-swiper-wrap .csl-scroll-swiper {
  width: 100%;
  transform: translateX(100%);
  display: block;
  transition: all 1.4s;
  overflow: hidden;
}
.csl-scroll-swiper-wrap .csl-scroll-swiper img {
  width: 100%;
  transform: translateX(-100%);
  display: block;
  transition: all 1.4s;
}

.csl-scroll-swiper-wrap .csl-scroll-on,
.csl-scroll-swiper-wrap .csl-scroll-on img {
  transform: translateX(0);
}

/* �ㅽ겕濡� �④낵 2 */
.csl .csl-scroll-custom[class~='csl-scroll-custom-up'] div {
  overflow: hidden;
  transition: all 1.4s cubic-bezier(0.14, 0.53, 0.24, 0.99);
  transform: translateY(150%);
}
.csl .csl-scroll-custom[class~='csl-scroll-custom-up'] div img {
  transition: all 1.3s cubic-bezier(0.14, 0.53, 0.24, 0.99);
  transform: translateY(-130%);
}
.csl .csl-scroll-on[class~='csl-scroll-custom-up'] div {
  transform: translateY(0%);
}
.csl .csl-scroll-on[class~='csl-scroll-custom-up'] div img {
  transform: translateY(0%);
}
.csl .csl-scroll-custom[class~='csl-scroll-custom-right'] div {
  overflow: hidden;
  transition: all 1.7s cubic-bezier(0.14, 0.53, 0.24, 0.99);
  transform: translateX(-150%);
}
.csl .csl-scroll-custom[class~='csl-scroll-custom-right'] div img {
  transition: all 1.5s cubic-bezier(0.14, 0.53, 0.24, 0.99);
  transform: translateX(130%);
}
.csl .csl-scroll-on[class~='csl-scroll-custom-right'] div {
  transform: translateX(0%);
}
.csl .csl-scroll-on[class~='csl-scroll-custom-right'] div img {
  transform: translateX(0%);
}
.csl .csl-scroll-custom[class~='csl-scroll-custom-left'] div {
  overflow: hidden;
  transition: all 1.7s cubic-bezier(0.14, 0.53, 0.24, 0.99);
  transform: translateX(150%);
}
.csl .csl-scroll-custom[class~='csl-scroll-custom-left'] div img {
  transition: all 1.5s cubic-bezier(0.14, 0.53, 0.24, 0.99);
  transform: translateX(-130%);
}
.csl .csl-scroll-on[class~='csl-scroll-custom-left'] div {
  transform: translateX(0%);
}
.csl .csl-scroll-on[class~='csl-scroll-custom-left'] div img {
  transform: translateX(0%);
}

.csl .csl-blink {
  animation: csl-blink 2s infinite;
}

@keyframes csl-blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.csl {
  font-size: 6.6683px;
}

@media screen and (max-width: 780px) {
  .csl {
    font-size: 0.9264vw;
  }
}

.platform-pc .csl .content {
  padding-bottom: 0;
}

.csl .swiper .swiper-pagination {
  top: auto;
}

.csl .cslImgToggle .fullImg:nth-child(1) {
  display: none;
}
.csl .cslImgToggle-on .fullImg:nth-child(1) {
  display: block;
}
.csl .cslImgToggle-on .fullImg:nth-child(2) {
  display: none;
}

.csl .csl-ImgTabMenu {
  background-color: black;
}

.csl .csl-timeBox .timeBox {
  width: 100%;
  position: relative;
  display: none;
}

.csl .csl-countdownM {
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.csl .csl-countdownM h5 {
  position: absolute;
  width: 20%;
  font-family: 'Pragmatica-Extended', 'Pragmatica', 'Pretendard';
  font-weight: 400;
  font-size: 86px;
  text-align: center;
  top: 0%;
}
.csl .csl-countdownM h6 {
  position: absolute;
  width: 10%;
  font-family: 'Pragmatica-Extended', 'Pragmatica', 'Pretendard';
  font-weight: 100;
  font-size: 74px;
  text-align: center;
  top: 0%;
  padding-top: 0.1%;
}
.csl .csl-countdownM-block h5 {
  font-size: 68px;
}
.csl .csl-countdownM-block h6 {
  font-size: 60px;
}

@media screen and (max-width: 1080px) {
  .csl .csl-countdownM {
    font-size: 1.48148148vw;
  }
}

.device-pc .csl-countdownM {
  font-size: 16px;
}

.csl .csl-countdownM h5 {
  font-size: 5.375em;
}

.csl .csl-countdownM h6 {
  font-size: 4.625em;
}
.csl .csl-countdownM-block h5 {
  font-size: 4.25em;
}
.csl .csl-countdownM-block h6 {
  font-size: 3.75em;
}

.csl .csl-countdownM h5:nth-child(1) {
  left: 11.9%;
}
.csl .csl-countdownM h5:nth-child(3) {
  left: 27.85%;
}
.csl .csl-countdownM h5:nth-child(5) {
  left: 46.65%;
}
.csl .csl-countdownM h5:nth-child(7) {
  left: 65.45%;
}
.csl .csl-countdownM h6:nth-child(2) {
  left: 23.5%;
}
.csl .csl-countdownM h6:nth-child(4) {
  left: 42.2%;
}
.csl .csl-countdownM h6:nth-child(6) {
  left: 61.1%;
}

.csl .csl-countdownM2 h5:nth-child(1) {
  left: 21.4%;
}
.csl .csl-countdownM2 h5:nth-child(3) {
  left: 40%;
}
.csl .csl-countdownM2 h5:nth-child(5) {
  left: 58.8%;
}
.csl .csl-countdownM2 h6:nth-child(2) {
  left: 35.8%;
}
.csl .csl-countdownM2 h6:nth-child(4) {
  left: 54.4%;
}

.csl .csl-countdownM-block h5:nth-child(1) {
  left: 9.4%;
}
.csl .csl-countdownM-block h5:nth-child(3) {
  left: 29.85%;
}
.csl .csl-countdownM-block h5:nth-child(5) {
  left: 50.3%;
}
.csl .csl-countdownM-block h5:nth-child(7) {
  left: 70.85%;
}
.csl .csl-countdownM-block h6:nth-child(2) {
  left: 24.6%;
}
.csl .csl-countdownM-block h6:nth-child(4) {
  left: 45.1%;
}
.csl .csl-countdownM-block h6:nth-child(6) {
  left: 65.5%;
}
